/calculoPeso/nbproject/private/
/calculadora4Operacoes/nbproject/private/
/calculadora4Operacoes/build/
/IMC/nbproject/private/
/IMC/build/
/VolumeMVC/nbproject/private/
/VolumeMVC/build/
/bibliotecaMVC/nbproject/private/
/bibliotecaMVC/build/
/bibliotecaMVC/dist/
/calculadora4Operacoes/dist/
/areaTrapezio/nbproject/private/
/AreaTrapezioMVC/nbproject/private/
/AreaTrapezioMVC/build/
